################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Ch4HT1/.vs/Ch4HT1/v16/Browse.VC.opendb
/Ch5Lab2/.vs/Ch5Lab2/v16/Browse.VC.opendb
/Ch5HT1/.vs/Ch5HT1/v16/Browse.VC.opendb
/Ch6HT1/.vs/Ch6HT1/v16/Browse.VC.opendb
/Ch6HT2/.vs/Ch6HT2/v16/Browse.VC.opendb
/Ch7Lab1/.vs/Ch7Lab1/v16/Browse.VC.opendb
/Ch7Lab2/.vs/Ch7Lab2/v16/Browse.VC.opendb
/Ch7HT1/.vs/Ch7HT1/v16/Browse.VC.opendb
/Ch7HT2/.vs/Ch7HT2/v16/Browse.VC.opendb
